<style>
  .w-25 {
    max-width: 100px; /* Đặt độ rộng tối đa */
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
    text-overflow: ellipsis; /* Hiển thị dấu elipsis (...) nếu có nội dung bị ẩn */
    white-space: nowrap; /* Ngăn chặn việc xuống dòng */
    margin-right: 10px; 
  }
  .w-25-scroll {
    overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung vượt quá kích thước */
    max-height: 100px; /* Đặt chiều cao tối đa cho phần mô tả */
}
</style>
<div class="text-end mb-3">
    <a class="btn btn-primary " href="#!sanpham/create">Thêm mới</a>

</div>
<table  class="table table-bordered " >
    <thead>
        <tr>
            <th>ID</th>
            <th>Ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá tiền</th>
            <th >Mô tả</th>
            <th>Danh mục</th>
            <th>Tương tác</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sanpham in danhsachSanPham" >
            <td  class="text-nowrap">{{sanpham.id}}</td>
            <td class="text-nowrap"><img class="img-thumbnail" width="50px" ng-src="{{sanpham.anh}}" alt=""></td>
            <td class="text-nowrap">{{sanpham.ten}}</td>
            <td class="text-nowrap">{{sanpham.soluong}}</td>
            <td class="text-nowrap">{{sanpham.gia}}</td>
            <td class="text-nowrap w-25 w-25-scroll ">{{sanpham.mota}}</td>
            <td class="text-nowrap">{{sanpham.tenDanhMuc}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="#!sanpham/detail/{{sanpham.id}}">Xem</a>
                <a class="btn btn-warning btn-sm" href="#!sanpham/edit/{{sanpham.id}}">Sửa</a>
                <!-- <button class="btn btn-danger btn-sm">Xóa</button> -->
                <!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#myModal{{sanpham.id}}">
    Xóa
  </button>
  
  <!-- The Modal -->
  <div class="modal" id="myModal{{sanpham.id}}">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thông báo</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Bạn có muốn xóa sản phẩm {{sanpham.ten}}
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ng-click="btnDel(sanpham.id)">Xóa</button>

        </div>
  
      </div>
    </div>
  </div>
            </td>
        </tr>
    </tbody>
</table>